/*  Stili generali di pagina */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  color: red;
  margin: 30px;
}

.rossa {
  color: red;
}

.blu {
  color: blue;
}

.verde {
  color: green;
}

.gialla {
  color: yellow;
}

.arancio {
  color: orange;
}
